<div class="well sidebar-nav">
    <ul class="nav nav-list">
        <li><%= link_to "Applications", '#' %></li>
        <li><%= link_to "Roles", '#' %></li>
        <li><%= link_to "Users", '#' %></li>
        <li><%= link_to "Logs", "#" %></li>
        <li><%= link_to "Sign Out", signout_path, method: "delete" %></li>
    </ul>
</div>
