<!DOCTYPE html>
<html>
<head>
  <title>LimewareMobilePortal</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
	<%= render 'layouts/header' %>
	<div class="container">
		<legend>
			<h1>LIME Mobile Portal</h1>
		</legend>
		<% flash.each do |key, value| %>
			<div class="alert alert-<%= key %>"><%= value %></div>
		<% end %>
		<div class="container-fluid">
			<div class="row-fluid">
	    		<div class="span3">
    				<%= render 'layouts/sidebar'%>	
    			</div>
    			<div class="span9">
    				<div class="hero-unit">
    					<%= yield %>
    				</div>      
    			</div>
  			</div>
  		</div>		
		<%= debug(params)  if Rails.env.development? %>
	</div>
</body>
</html>
